.modal{
    height: 30px;
    width: 650px;
    
    z-index: 99;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 50px;
}
.modal_opened{
    display: flex;
}
.modal_body {
    background-color: rgb(230,232,235);
    border: 1px solid black;
    
    color: black;
    padding: 20px;
}
.close-modal{
    background:#5A9EEF;
    margin-top: 20px;
    margin-left: 180px;
    width: 130px;
    height: 5px;
    font-size: 14px;
    text-align: left;
    padding:20;
  
   
}
