.div1{
    border: 1px solid red;
    width: 50px;
    height: 50px;

}
@keyframes anim {
    from {margin-left: 5px;}
    to{margin-left: 300px;}
    
}

.div1{
animation-name: anim;
animation-duration: 2s;
animation-timing-function: ease;
animation-iteration-count: 3;
}
.div2{
    border: 1px solid red;
    width: 50px;
    height: 50px;
    margin: 20px;

}
@keyframes anim2{
    from {margin-left: 5px;}
    to{margin-left: 300px;}
}

.div2{

animation-name: anim;
animation-duration: 2s;
animation-timing-function: ease;
animation-iteration-count:infinite;
}
.div3{
border: 1px solid red;
width: 100px;
height: 100px;
margin: 20px;
}
@keyframes anim3{
    from {background: white;}
    to{background: red;}
}
.div3{

    animation-name: anim3;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count:infinite;
    }
    
    .div4{
        border: 1px solid red;
        width: 50px;
        height: 50px;
        margin: 20px;
    
    }
    @keyframes anim4{
        0%{margin-left: 5px; margin-top: 0px;}
        25%{margin-left: 150px;margin-top: 0px;}
        50%{margin-left: 150px;margin-top: 150px;}
        75%{margin-left: 5px;margin-top: 150px;}
        100%{margin-left: 5px; margin-top: 0px;}
    }
    
    .div4{
    
    animation-name: anim4;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count:infinite;
    }
    .div5{
        border: 1px solid red;
        width: 50px;
        height: 50px;
        margin: 20px;
    
    }
    @keyframes anim5{
        0%{margin-left: 5px; margin-top: 0px;}
        25%{margin-left: 150px;margin-top: 0px;}
        50%{margin-left: 150px;margin-top: 150px;}
        75%{margin-left: 5px;margin-top: 150px;}
        100%{margin-left: 5px; margin-top: 0px;}
    }
    @keyframes anim5_2{
        0% {background: white;}
        25%{background: red;}
        50%{background: white;}
        75%{background: red;}
        100%{background: white;}
    }
    .div5{
    
    animation-name: anim5, anim5_2;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count:infinite;
    }
    .div6{
        border: 1px solid red;
        width: 50px;
        height: 50px;
        margin: 20px;
    
    }
    @keyframes anim6{
        0% {margin-left: 5px;}
        50% {margin-left: 300px;}
        100% {margin-left: 5px;}
    }
    .div6{
    
    animation-name: anim6;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    }
    .div7{
        border: 1px solid red;
        width: 50px;
        height: 50px;
        margin: 20px;
    
    }
    @keyframes anim7{
        from {margin-left: 5px;}
        to{margin-left: 300px;}
    }
    
    .div7{
    
    animation-name: anim7;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    }
    .div8{
    border: 1px solid red;
    width: 300px;
    height: 30px;
    margin:20px 0px;
    }
    .child8 {
        border: 1px solid white;
        width: 0px;
        height: 30px;
        margin:0px 0px;
        background: red;
    }
        @keyframes anim8{
            from {width: 0px;}
            to{width: 300px;}
        }
        
        .child8{
        
        animation-name: anim8;
        animation-duration: 5s;
        animation-timing-function: ease;
        animation-iteration-count:1;
        animation-fill-mode: forwards;
        
        }
        

.div9{
    border: 1px solid red;
    width: 300px;
    height: 30px;
    margin:20px 0px;
}
.child9 {
    border: 1px solid white;
    width: 0px;
    height: 30px;
    margin:0px 0px;
    background: red;
}
    @keyframes anim9{
        from {width: 0px;}
        to{width: 300px;}
    }
    
    .child9{
    
    animation-name: anim9;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count:infinite;
    
    }
    .div10{
        border: 1px solid red;
        width: 50px;
        height: 50px;
    
    }
    @keyframes anim10{
        from {width: 50px;}
        to{width: 300px;}
    }
    
    .div10{
    
    animation-name: anim10;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-play-state: paused;
    }
    .div10:hover{
        animation-play-state:running;
    }
    .child11{
        border: 1px solid red;
        width: 200px;
        height: 30px;
        margin: 20px 0px;
        text-align: center;
        padding-top: 10px;
       
    }
    .child11_2 {
        border: 1px solid blue;
        width: 70px;
        height: 50px;
        margin: 20px 0px;
       
       
    }
    @keyframes anim11{
        from {width: 70px;}
        to{width: 500px;}
    }
    .child11_2 {

        animation-name: anim11;
        animation-duration: 3s;
        animation-timing-function: ease;
        animation-iteration-count:infinite;
        animation-direction: alternate;
        animation-play-state: paused;
        }
        .child11:hover+.child11_2{
            animation-play-state:running;
        }
        .div12{
            border: 1px solid red;
            width: 220px;
            height: 220px; 
            
            
        }
        .child12{
            border: 1px solid red;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: red;
            margin: 20px, 0px;
            

        }
        @keyframes anim12 { 
            
            0%{
                margin-bottom: 20px;
                margin-left:0px;
                
            }
            25%{
                margin-top: 200px;
                margin-left:0px;
            }
               
            80%{
                margin-top: 100px;
                margin-left:50px;
                
            }
            95%{
                margin-top: 100px;
                margin-left:80px
            }
            100%{
                margin-top: 200px;
                margin-left:100px;
                
            }
        }
        .child12{
    
            animation-name: anim12;
            animation-duration: 5s;
            animation-timing-function:ease-out; 
            animation-iteration-count:infinite;
            
            }
        