.div1 {
    border: 1px solid red;
    width: 200px;
    height: 100px;

    transition-property: background;
    transition-duration:1s;

}
.div1:hover{
    background: red;
}
.div2 {
    border: 1px solid red;
    width: 200px;
    height: 100px;
    margin:20px 0px;
    color:red;

    transition-property: background;
    transition-duration:1s;

}
.div2:hover{
    background: red;
    color: white;
}
.div3 {
    border: 1px solid red;
    width: 200px;
    height: 50px;
    margin:20px 0px;
    

    transition-property: width;
    transition-duration:1s;

}
.div3:hover{
    width:100%;
}
.div4 {
    border: 1px solid red;
    width: 200px;
    height: 50px;
    margin:20px 0px;
    color:red;

    transition-property: width, font-size;
    transition-duration:1s;

}
.div4:hover{
    width:100%;
    font-size: 30px;
}
.div5 {
    border: 1px solid red;
    width: 200px;
    height: 50px;
    margin:20px 0px;
    color:red;

    transition-property: width, margin;
    transition-duration:1s;

}
.div5:hover{
    width:400px;
    margin: 20px 80px;
    
}
.div6 {
    border: 1px solid red;
    width: 200px;
    height: 50px;
    margin:20px 0px;
    color:black;
}

.child6 {
    border: 1px solid white;
    width: 200px;
    height: 50px;
    margin:20px 1500px;
    color:black;

    transition-property: margin;
    transition-duration:1s;

}
.div6:hover>.child6 {
    margin:20px 20px;
}

.div4:hover{
    width:100%;
}
.div7 {
    border: 1px solid red;
    width: 200px;
    height: 50px;
    margin:20px 0px;
    

    transition-property: width;
    transition-duration:5s;
    transition-delay: 3s;

}
.div7:hover{
    width:100%;
}
#name {
    border: 1px solid rgb(1, 0, 0);
    width: 200px;
    height: 30px;
    
    transition-property: width, box-shadow;
    transition-duration:2s;

}
#name:focus{
    width: 300px;
    box-shadow: 15px 15px 1opx rgba(32, 9, 107, 0.6);

}
.div9{
    border: 1px solid green;
    width: 500px;
    height: 230px;
    margin:20px 10px;
    padding-left: 10px;

}
.child9 {
    border: 1px solid red;
    width: 200px;
    height: 20px;
    margin:20px 0px;
    

    transition-property: width;
    transition-duration:1s;
}

    .div9:hover>.child9 {
        width:480px;
}

.div10{
    border: 1px solid white;
    width: 500px;
    height: 350px;
    margin:20px 10px;
    padding-left: 10px;
}
.child10 {
    border: 1px solid red;
    width: 200px;
    height: 20px;
    margin:20px 0px;
    

    transition-property: width;
    transition-duration:1s;
}
.div10:hover>.child10:not(:first-child){
    width:480px;
}
.child11 {
    border: 1px solid red;
    width: 200px;
    height: 20px;
    margin:20px 20px;

    transition-property: width;
    transition-duration:1s;
}
.child11_2 {
    border: 1px solid red;
    width: 200px;
    height: 20px;
    margin:20px 20px;

    transition-property: width;
    transition-duration:1s;
}
.child11_3 {
    border: 1px solid red;
    width: 200px;
    height: 20px;
    margin:20px 20px;

    transition-property: width;
    transition-duration:1s;
}
.child11_4 {
    border: 1px solid red;
    width: 200px;
    height: 20px;
    margin:20px 20px;

    transition-property: width;
    transition-duration:1s;
}
.child11_5 {
    border: 1px solid red;
    width: 200px;
    height: 20px;
    margin:20px 20px;

    transition-property: width;
    transition-duration:1s;
}
.child11_6 {
    border: 1px solid red;
    width: 200px;
    height: 20px;
    margin:20px 20px;

    transition-property: width;
    transition-duration:1s;
}
.child11_7 {
    border: 1px solid red;
    width: 200px;
    height: 20px;
    margin:20px 20px;

    transition-property: width;
    transition-duration:1s;
}
.child11_8 {
    border: 1px solid red;
    width: 200px;
    height: 20px;
    margin:20px 20px;

    transition-property: width;
    transition-duration:1s;
}
.child11_2:hover+.child11_3{
    width:480px;
}

.child11:hover+.child11_2{
    width:480px;
}
.child11_3:hover+.child11_4{
    width:480px;
}
.child11_4:hover+.child11_5{
    width:480px;
}
.child11_5:hover+.child11_6{
    width:480px;
}
.child11_6:hover+.child11_7{
    width:480px;
}
.child11_7:hover+.child11_8{
    width:480px;
}
.child13 {
    border: 1px solid red;
    width: 400px;
    height: 30px;
    margin:20px 0px;
    color:rgb(8, 8, 8);
    text-align: center;
}
.child13_2 {
    border: 1px solid red;
    width: 200px;
    height: 30px;
    margin:20px -400px;
    background: red;
    color:rgb(244, 240, 240);
    text-align: center;

    transition-property: margin;
    transition-duration:1s;

}
.child13:hover+.child13_2 {
    margin:20px 80px;
}

#div14 {
    border: 1px solid red;
    width: 200px;
    height: 50px;
    margin:20px 0px;
    color:red;

    transition-property: width;
    transition-duration:4s;
    transition-timing-function: steps(5,start);

}

#div14:hover{
    width:100%;
}
.child14 {
    border: 1px solid red;
    width: 200px;
    height: 50px;
    margin:80px 0px;
    color:red;

    transition-property: width;
    transition-duration:4s;
    transition-timing-function: steps(5,end);

}
#div14:hover>.child14 {
    width:100%;
}
.div15 {
    border: 1px solid red;
    width: 200px;
    height: 50px;
    margin:100px 0px 0px 0px;
    

    transition-property: width;
    transition-duration:1s;
    transition-timing-function: cubic-bezier(.1,.61,.88,.34);

}
.div15:hover{
    width:100%;
}
.div16 {
    border: 1px solid red;
    width: 300px;
    height: 30px;
    margin:20px 0px;
    
}
.child16 {
    border: 1px solid white;
    width: 0px;
    height: 30px;
    margin:0px 0px;

    transition-property: width, background;
    transition-duration:1s;
}
.div16:hover>.child16 {
    width: 300px;
    background: red;
    
}
.div17 {
    border: 1px solid red;
    width: 300px;
    height: 30px;
    margin:20px 0px;
    
}
.child17 {
    border: 1px solid white;
    width: 0px;
    height: 30px;
    margin:0px 0px;

    transition-property: width, background;
    transition-duration:5s;
    transition-timing-function: steps(5,end)
}
.div17:hover>.child17 {
    width: 300px;
    background: red;
    
}

.div18 {
    border: 1px solid red;
    width: 150px;
    height: 50px;
    margin:100px 400px;
}

.child18 {
    border: 1px solid black;
    width: 150px;
    height: 50px;
    margin:-80px 100px;
    background: black;
    z-index: 1;

    transition-property: margin;
    transition-duration:1s;

}
.child18_2 {
    border: 1px solid black;
    width: 150px;
    height: 50px;
    margin:190px -70px;
    background: black;
    z-index: -1;

    transition-property: margin;
    transition-duration:1s;

}
.div18:hover>.child18{
    margin:110px 100px;
}
.div18:hover>.child18_2,{
    margin: 190px 100px;
}








